

.Main-Body
{
    background-image: linear-gradient(to left top, #a3ef2577, #f9ae0077, #ff4a2c77, #ff008e77, #a412eb77);
    padding:3rem;
}

.Home-Title
{
    font-size:2rem;
    margin-bottom:2rem;
    color:white;
}





