.NavBar
{
    background-color:black;
    padding:0.2rem 0;
}

.Nav-Items
{
    margin-left:50vw;
}

.Nav-Item
{
    list-style: none;
    padding:0.1rem;
    transition:all 0.5s ease;
    cursor: pointer;
}

.Item
{
    padding:1rem 1.5rem;
    min-width:10rem;
}

.Item:hover
{
    background-color: white;
    color:black;
    transform: scaleX(1.1);
}

.Nav-Item.active .Item
{
    background-color: white;
    color:black;
}

.Sub-Item
{
    /* background-color: red; */
    margin:0.1rem;
}
