.NavBar
{
    background-color:black;
    padding:0.2rem 0;
}

.Nav-Items
{
    margin-left:50vw;
}

.Nav-Item
{
    list-style: none;
    padding:0.1rem;
    transition:all 0.5s ease;
    cursor: pointer;
}

.Item,.Sub-Item
{
    padding:1rem 1.5rem;
    min-width:10rem;
    z-index: 100;
}

.Sub-Items
{
    position:absolute;
    top:100%;
    left:0;
    width: 100%;
    height: fit-content;
}

.Item:hover
{
    background-color: white;
    color:black;
    transform: scaleX(1.1);
    position:relative;

}

.Nav-Item.active>.Item
{
    background-color: white;
    color:black;
}

.Sub-Item
{
    background-color: black;
    margin:0.1rem;
}
